{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}
Project {{ project.id }} {{ block.super }}
{% endblock %}


{% block extrastyle %}<link rel="stylesheet" href="{% static 'tailwind/tail.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo;
    <a href="{% url "admin:progress_project_changelist" %}">Projects</a>
    &rsaquo;
    <a href="{% url "admin:progress_project_change" project.id %}">Project {{ project.name}}</a>
    &rsaquo; Detail
</div>
{% endblock %}

{% block content %}

<div class="module">
    <!-- INFO PROJECT -->
    <h1 class="text-2xl font-bold text-black ">{{ project.name }}</h1>
    <p class="mb-3">{{project.description}}</p>
    
    <table>
        <tr>
            <th>Created</th>
            <td>{{ project.created }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ project.updated }}</td>
        </tr>
        <tr>
            <th>Importance</th>
            <td>{{ project.get_importance_display }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ project.get_status_display }}</td>
        </tr>
        
    </table>

    <!-- PROJECT COMMENTS -->
    {% with project_notes=project.project_notes.count %}
        {% if project_notes > 0 %}
            <p class="mt-5 text-lg font-semibold">You have {{project_notes}} message{{project_notes | pluralize}}</p>
            
            {% for note in project.project_notes.all %}
            <div class="bg-slate-300 p-2 my-2 rounded">
                <p>Message {{ forloop.counter }}. <em>{{note.created}}</em></p>
                <p>
                    {{note.message}}
                </p>

                {% if note.was_updated %}
                    <p><em>Updated last time {{note.updated}}</em></p>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>

<!-- tasks of the project -->
<div class="module">
    <h2>Tasks related to the Project</h2>
    <table class="w-full">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for task in project.tasks.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>

                <td class="num">{{ task.get_status_display }}</td>
                <td class="num">{{ task.created }}</td>
                <td class="num">{{ task.updated }}</td>
            </tr>

                <!-- comments of the task -->
                {% if task.task_notes.exists %}
                    {% for comment in task.task_notes.all %}
                    <tr>
                        <td colspan="5" class="bg-yellow-200">
                            <span class="text-sm mr-2">#{{ forloop.counter }} Msg:</span>
                            <span class="mr-2 italic">{{ comment.created |date:"d/M/Y g:iA"}}.</span>
                            <span class="mr-2">{{ comment.message }}</span> 
                            <a href="{% url 'admin:progress_task_change' task.id %}">Add Comment</button>
                                
                            
                                
                        </td>
                    </tr>                        
                    {% endfor %}
                {% endif %}
            

            {% endfor %}


        </tbody>
    </table>
</div> 
{% endblock %}