{% extends "admin/base_site.html" %}
{% block title %}
Project {{ project.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Home</a> &rsaquo;
    <a href="{% url "admin:progress_project_changelist" %}">Projects</a>
    &rsaquo;
    <a href="{% url "admin:progress_project_change" project.id %}">Project {{ project.name}}</a>
    &rsaquo; Detail
</div>
{% endblock %}

{% block content %}
<div class="module">
    <h1>{{ project.name }}</h1>
    <p>{{project.description}}</p>
    
    <table>
        <tr>
            <th>Created</th>
            <td>{{ project.created }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ project.updated }}</td>
        </tr>
        <tr>
            <th>Importance</th>
            <td>{{ project.get_importance_display }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ project.get_status_display }}</td>
        </tr>
        
    </table>

    {% with project_notes=project.project_notes.count %}
        {% if project_notes > 0 %}
            <p style="margin-top:20px">You have {{project_notes}} message{{project_notes | pluralize}}</p>
            
            {% for note in project.project_notes.all %}
            <div style="margin-block:20px">
                <p>Message {{ forloop.counter }}. <em>{{note.created}}</em></p>
                <p>
                    {{note.message}}
                </p>

                {% if note.was_updated %}
                    <p><em>Updated last time {{note.updated}}</em></p>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>

<div class="module">
    <h2>Tasks related to the Project</h2>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for task in project.tasks.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>

                <td class="num">{{ task.get_status_display }}</td>
                <td class="num">{{ task.created }}</td>
                <td class="num">{{ task.updated }}</td>
            </tr>
            {% endfor %}

{% comment %} 
            <tr class="total">
                <td colspan="3">Total</td>
                <td class="num">${{ order.get_total_cost }}</td>
            </tr> {% endcomment %}


        </tbody>
    </table>
</div> 
{% endblock %}