{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tailwind/tail.css' %}">

    <title>Progress Managment - {% block title %}{% endblock title %}</title>
</head>
<body class="max-w-screen-2xl mx-auto bg-slate-200">

    <nav class="sticky bg-sky-800 flex content-center p-5 mb-5">

        <h1 class="grid place-content-center font-semibold text-xl">Progress</h1>
        <ul class="ms-auto w-1/3 flex justify-around gap-2">
            <li class="px-2 py-1 rounded bg-sky-400">Official Page</li>
            <li class="px-2 py-1 rounded bg-sky-400">Projects</li>
        </ul>
    </nav>
    
    <main class="px-5 sm:px-8 lg:px-10">

        {% block main %}
        {% endblock main %}
    </main>
        
</body>
</html>