{% extends 'progress/base.html' %}
{% load static %}
{% block title %}{{project.name | capfirst}}{% endblock title %}

{% block main %}
<div class="grid -mt-6">

<figure class=" bg-gray-500 mx-auto w-full">
    {% if project.image %}
        <img class="w-full max-w-4xl mx-auto" src="{{project.image.url}}" alt="{{project.name}}">
    {% else %}
        <img class="w-full max-w-4xl mx-auto bg-slate-500" src="{% static 'progress/img/notImageProvided.png'  %}" alt="{{project.name}}">
    {% endif %}
</figure>    

<h1 class="text-4xl text-center mt-2">{{project.name}}</h1>
    <div class="my-2">
        <p>{{project.description}}</p>
        <p class="italic text-sm">Actual State: {{project.get_status_display}}</p>
        <p class="italic text-sm">Project Created on {{project.created}}</p>
    </div>

    <section>
        {% with task_count=project.tasks.count %}
        <h2 class="text-2xl">Task{{task_count | pluralize}}</h2>
        <p class="text-sm">This project has {{task_count}} task{{task_count| pluralize}}</p>
        {% endwith %}
        
        {% for task in project.tasks.all %}
        <article class="my-2 bg-gray-300 border-solid border-gray-900 border-2 rounded ">
            <!-- title task -->
            <h3 class="p-3 flex gap-3 justify-between bg-gray-400">
                <span class="grid place-content-center text-xl">{{task.name}}</span>
                <span class="p-1 shadow rounded bg-gray-100 grid place-self-start text-[0.7em] text-center">{{task.get_status_display}}</span>
            </h3>

            <div class="px-3">
                <p class="my-3">{{task.description}}</p>

                <div class="my-3 text-sm">
                    <p class="">Importance: {{task.get_importance_display}}</p>
                    
                    {% with estimated=task.estimated_time %}
                    <p class="">Estimated Time: {{estimated}} {{task.get_esitmated_unit_time_display}}{{estimated|pluralize}}</p>
                    {% endwith %}

                {% if  task.started and not task.completed %}
                    <p class="italic ">Task started on {{task.started}}</p>
                    <p class="mt-1 font-semibold">Estimated Delivery <br>{{task.get_time_to_finish}}</p>
                
                {% elif task.started and task.completed %}
                    <p class="italic ">Task Completed on {{task.completed}}</p>

                {% endif %}
                </div>
            </div>

            <h3 class="px-3 py-1 text-sm flex gap-3 justify-between bg-gray-400">
                {% with note_count=task.task_notes.count %}
                <span class="grid place-content-center">This Task has {{note_count}} note{{note_count | pluralize}}</span>
                <span class="p-1 border-solid border-2 rounded bg-blue-600 cursor-pointer text-center">Show</span>
                {% endwith %}
            </h3>
            <ul>
                {% for note in task.task_notes.all %}
                <li>
                    <span>By {% if note.user %}{{note.user.username}}{% else%}Anonimous{% endif %}</span>
                    <span>{{note.message}}</span>
                    <span>On: {{note.created}}</span>
                </li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
    </section>

</div>
{% endblock main %}
    