@tailwind base;
@tailwind components;
@tailwind utilities;

.d-none {
    display:none;
}

@layer components {
    .grid-col-350 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

