{% if title %}
<title>Managment - {{active_section | capfirst}}</title>
{% endif %}

<h1 class="ms-1 mb-3 text-4xl text-blue-900 font-semibold">Welcome</h1>

<div>
    <h2 class="text-2xl">Para que sirve esta app?</h2>
    
    <p class="text-lg">Esta es una herramienta de gestion,
    enfocada en comunicar el progreso de projectos y recibir feedback.
    </p>

    <h3 class="text-2xl">Como funciona?</h3>
    <p>Primero lo primero, para poder probar toda la funcionalida del
        modo cliente necesitas registrarte. es super rapido, intencionalmente 
        deje habilitada la creacion de contraseñas inseguras
    </p>
    <p>
        Al registrarte podras ver todos los projectos marcados como 
        <span>Publicos. </span>
        Para ver un projecto marcado como <span>Privado</span>
        necesitas ser agregado a ese projecto desde el admin
    </p>

    <h3 class="text-2xl">El feedback</h3>
    <p>
        todo usuario tiene permiso para crear <span>Notas</span>
        en los <span>Projectos</span> y en las <span>Tareas</span> que pueda ver.
        Tambien puede editar o eliminarlas sus <span>Notas</span>. 
    </p>

    <h3 class="text-2xl">Limitaciones del "modo cliente"</h3>

    <p>El registro, edicion y eliminacion de <span>Poyectos</span> y <span>Tareas </span>
        solo estan disponibles desde el admin.
        un usuario normal no tiene permisos para realizar niguna de estas acciones.
    </p>

    <p>Como puedes ver esto que estoy presentando es basicamente el modo cliente.
        pero realmente te invito a que tambien lo pruebes desde la perspectiva de usuario staff.
        sientete libre de forkear mi repo, puedes hacerme preguntas 
        por linkedin, facebook, por mi site, o por el medio en el que hayas visto la publicacion
        buen codeo 
    </p>

</div>
